*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-SemiBold.woff2') format('woff2'),
      url('../font/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.woff2') format('woff2'),
      url('../font/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Light.woff2') format('woff2'),
      url('../font/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Medium.woff2') format('woff2'),
      url('../font/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.woff2') format('woff2'),
      url('../font/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* Css reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Poppins';
  font-style: normal;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}



blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none !important;
}

html,
body {
  position: relative;
  height: 100%;
}
/* sidebar-styling */  
.sidebar{
  background-color:#254270 ;
  min-height: 100vh;
  padding: 0 !important;
}
.skypost-logo{
  padding: 18px 0px 0px 24px;
}
 .menu{
  width: 100%;
  margin-top: 16px;
 }
 .menu .item{
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding: 0px;
  width: 100%;
 }
 .menu .item a{
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0px 30px;
  line-height: 52px;
 }
 .menu .item a:hover{
  background-color: #F86900;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  transition: 0.3s ease;
 }
 .menu .item i{
  margin-right: 0px;
 } 
 .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }
 .menu .item .sub-menu{
  background-color:#254270 ;
  display: none;
 }
 .item a img{
  margin-right: 5px;
 }
.menu .item .sub-menu a{
  padding-left: 65px;
  font-size: 12px;
  background-color:#254270;
  color: #FFFFFF;
  line-height: 38px;
  font-weight: 500;

 }
 .menu .item .sub-menu a:hover{
  color: #F86900 !important;
 }

 .close-btn{
  position: absolute;
  color: #fff;
  font-size: 23px;
  right:  0px;
  margin: 15px;
  cursor: pointer;
 }
 .menu-btn{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin: 25px;
  cursor: pointer;
 }
 .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
} 
.fa-file-text{
  width: 18px;
  height: 18px;
  color: #ffffff;
}
.footer-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 0px 0px;
}
.icon-div{
  width: 32.62px;
  height: 32.62px;
  background: #F86900;
  border-radius: 50%;
  position: absolute;
  left: -38px;
  top: -25px;
}
.fa-phone{
  width: 18px;
  height: 18px;
  padding: 9px;
  color: #ffffff;
}
.phone-icon{
  position: relative;
}
.footer-desc{
  font-weight: 500;
  font-size: 11.67px;
  line-height: 3px;
  color: #FFFFFF;
}
/* main-content-starts */
.main-content{
  min-height: 100vh !important;
  width: 100%; 
}
.header{
  padding: 10px 0px 0px 10px;
  border-bottom: 0.5px solid #9E9E9E;
}
.dashboard-heading{
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #254270;
  padding-top: 10px;
}
.john-div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 2px;
}
.text-john{
  text-align: right;
  padding-top: 5px;
}
.john-desc{
  font-weight: 600;
  font-size: 12px;
  line-height:10px;
  color: #333333;
}
.john-small-desc{
  font-weight: 400;
  font-size: 9px;
  line-height: 0px;
  color: #333333;
}

/* shipments styling */


.filter-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 9px 20px;
}
.shipments-heading{
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #254270;
}
.input-id{
  display: inline-block;
  position: relative;
  width: 501px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.input-id input,
.input-id button{
   display: inline-block;
   vertical-align: middle;
}
#input{
  width: 379px;
  height: 48px;
  background: #F3F3F3;
  text-indent: 50px;
  border: none;
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}


.track-btn{
  background: #F86900;
  width: 120px;
  height: 48px;
  border: none;
  outline: none;
  position: absolute;
  right: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.track-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


/* date-picker-styling */
.date-picker >input{
  border: 1px solid #000000;
  border-radius: 6px;
  width: 123px;
  height: 46px;
  outline: none;
}
.date-picker{
  position: relative;
  text-align: right;
}
#datepicker{
  text-indent: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
.date-picker >span{
  position: absolute;
  right: 3%;
  top: 50%;
}
/* slot styling */
.slot-heading{
  padding: 0px 0px 0px 10px;
}
.slot-heading{
  font-weight: 500;
  font-size: 18px; 
  color: #333333;
}

/* card-section */

.card-title{
  font-weight: 400;
  font-size: 33.1493px;
  line-height: 36px;
  color: #FFFFFF;
  padding-top: 20px;
}
.card-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
}
.icon-img-none{
  float: right;
  clear: both;
}
.icon-img{
  float: right;
  clear: both;
  position:relative;
}
.icon-img::before{
  content: "";
  width: 46px; 
  height: 46px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.2;
  position: absolute;
  top: -10px;
  right: -10px;

}

.main-img{
  z-index: 10;
}
.charts-section{
  padding: 0px 20px 0px 20px;
}
.col{
  padding-bottom: 6px;
}
.first-card{
  background: #F3994A !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.first-card:hover {
  transform: scale(1.05);
}
.card-two{
  background: #A3CC34 !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-two:hover{
  transform: scale(1.05);
}
.card-three{
  background: #18BDAA !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-three:hover{
  transform: scale(1.05);
}
.card-four{
  background: #3080ED !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-four:hover{
  transform: scale(1.05);
}
.card-five{
  background: #3080ED !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-five:hover{
  transform: scale(1.05);
}
.card-six{
  background: #18BDAA !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-six:hover{
  transform: scale(1.05);
}
.card-seven{
  background: #F3684A !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-seven:hover{
  transform: scale(1.05);
}


/* support ticket */
.support-div{
  background: #E8EBF3;
  border-radius: 6px;
  width: 97%;
  margin: 0px 0px 0px 20px;
}
.support-ticket-div{
  width: 297px;
  margin: 0px 0px 0px 20px;
}
.support-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding: 17px 0px 5px 36px;
}
.main-profile{
  margin-left: 30px;
  padding-bottom: 1px;
}
.ticket-img{
  float: left;
  clear: both;
  margin-right: 20px;
}
.ticket-details h2 {
  font-weight: 600;
  font-size: 11.67px;
  line-height: 19px;
  color: #333333;
}
.ticket-details p {
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  color: #333333;
}

/* delivered section */


.dileverd-section{
  background: #E8EBF3;
  border-radius: 6px;
  margin: 0px 20px 0px 10px !important;
  padding: 20px;
}
.deliver-main-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}
.statistic-text{
  padding-left: 25px;
  padding-top: 10px;
}
.statistic-text h4{
  font-weight: 400;
  font-size: 14px; 
  line-height: 14px;
  color: #254270;
}
.statistic-text p{
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #9E9E9E;

}
.delivery-statistic {
  display: flex;
  flex-direction: column;
}
.statistic-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px;
}
.statistic-box {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 10px 0px 0px 13px;
}
.statistic-item {
  display: flex;
  align-items: center;
}
.status-box {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}
.delivered {
  background: #27AE60;
  border-radius: 1.10526px;
}
.in-transit {
  background: #FFCB06;
  border-radius: 1.10526px;
}
.failed {
  background: #C94444;
  border-radius: 1.10526px;
}
.booked{
  background: #816BFF;
  border-radius: 1px;
}
.processed{
  background: #13C9F2;
  border-radius: 1px;
}
.cancel{
  background: #F84B4A;
  border-radius: 1px;
}

#pie{
  max-width: 152px;
  max-height: 152px;
  margin-right: 20px;
}
#chart {
  max-width: 152px;
  max-height: 152px;
  margin-right: 20px;
}
.sidebar-toggle-button {
  display: none;
}





@media only screen and (max-width: 767px) {
  .main-cols{
    padding-bottom: 9px !important;
  }
  .skypost-logo {
    padding: 20px 0px 0px 6px;
}
  .sidebar-toggle-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    border: none;
    color: white !important;
    background-color: #254270 ;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar {
    width: 250px !important;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    z-index:1001;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #254270 ;
  }

  .sidebar.show {
    left: 0;
  }
 
}


/* For mobile devices */
@media only screen and (max-width: 600px) {
  /* Support section */
  .dropdowns>li {
    padding: 14px 0px 14px 14px;
  }
   .support-div {
    width: 100%;
    margin: 0px;
  }
  .support-ticket-div {
    width: 100%;
    margin: 20px 0px 0px 0px !important;
  }
  .support-heading {
    padding: 17px 0px 5px 20px;
  }
  .main-profile {
    text-align: center;
  }
  .ticket-img {
    float: none;
    margin: 0px auto;
  }
  .ticket-details h2 {
    font-size: 14px;
    line-height: 20px;
  }
  .ticket-details p {
    font-size: 12px;
    line-height: 16px;
  }
  .ticket-col{
    padding: 10px 20px 10px 20px;
  }
  .deliver-main-heading{
    padding-top: 5px;
  }

  /* Delivered section */
  .dileverd-section {
    margin: 10px 10px 0px 10px !important;
    padding: 10px;
  }
  .deliver-main-heading {
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
  }
  .statistic-text {
    padding-left: 10px;
    padding-top: 5px;
  }
  .statistic-text h4 {
    font-size: 12px;
    line-height: 12px;
  }
  .statistic-text p {
    font-size: 12px;
    line-height: 14px;
  }
  .statistic-wrapper {
    padding: 10px;
  }
  .statistic-box {
    flex-basis: 100%;
    padding: 10px 0px 0px 0px;
  }
  #pie {
    max-width: 100px;
    max-height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  #chart {
    max-width: 100px;
    max-height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .card-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    padding-top: 15px;
  }
  .card-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #FFFFFF;
  }
}


@media screen and (max-width: 768px) {
  .filter-input {
    flex-direction: column;
    padding: 20px;
  }

  .input-id {
    width: 100%;
    margin: 0;
  }

  #input {
    width: 100%;
    margin-bottom: 3px;
    border-radius: 6px;
  }

  .track-btn {
    width: 100%;
    position: static;
    margin-top: 9px;
    border-radius: 6px;
  }
  .date-picker {
    margin-top: 10px;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .input-id input,
  .track-btn {
    display: block;
    width: 100%;
    text-indent: 10px;
    border-radius: 6px;
  }
}



@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
  }
  .col-md-6 {
    width: 100%;
  }
  .john-div {
    margin-top: 10px;
  }
  .dashboard-heading {
    text-align: center;
  }
  .text-john {
    text-align: center;
  }
}