*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-SemiBold.woff2') format('woff2'),
      url('../font/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.woff2') format('woff2'),
      url('../font/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Light.woff2') format('woff2'),
      url('../font/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Medium.woff2') format('woff2'),
      url('../font/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.woff2') format('woff2'),
      url('../font/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* Css reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Poppins';
  font-style: normal;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}



blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none !important;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
/* sidebar-styling */  
.sidebar{
  background-color:#254270 ;
  min-height: 100vh;
  width: 270px;
  padding: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 5;
}
.sidebar::-webkit-scrollbar {
  width: 4px;
  height: 50%;
}
.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color:#F86900;
  border-radius: 5px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #F86900;;
}
.skypost-logo{
  padding: 18px 0px 0px 18px;
}
 .menu{
  width: 100%;
  margin-top: 16px;
 }
 .menu .item{
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding: 0px;
  width: 100%;
 }
 .menu .item a{
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0px 23px;
  line-height: 52px;
 }
 .menu .item a:hover{
  background-color: #F86900;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  transition: 0.3s ease;
 }
 .menu .item i{
  margin-right: 0px;
 } 
 .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }
 .menu .item .sub-menu{
  background-color:#254270 ;
  display: none;
 }
 .item a img{
  margin-right: 5px;
 }
.menu .item .sub-menu a{
  padding-left: 65px;
  font-size: 12px;
  background-color:#254270;
  color: #FFFFFF;
  line-height: 38px;
  font-weight: 500;

 }
 .menu .item .sub-menu a:hover{
  color: #F86900 !important;
 }

 .close-btn{
  position: absolute;
  color: #fff;
  font-size: 23px;
  right:  0px;
  margin: 15px;
  cursor: pointer;
 }
 .menu-btn{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin: 25px;
  cursor: pointer;
 }
 .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
} 
.fa-file-text{
  width: 18px;
  height: 18px;
  color: #ffffff;
}
.footer-sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 230px 0px 0px 0px;
  gap: 10px;
}
.icon-div{
  width: 32.62px;
  height: 32.62px;
  background: #F86900;
  border-radius: 50%;
  position: absolute;
  left: -38px;
  top: -25px;
}
.fa-phone{
  width: 18px;
  height: 18px;
  padding: 9px;
  color: #ffffff;
}
.phone-icon{
  position: relative;
}
.footer-desc{
  font-weight: 500;
  font-size: 11.67px;
  line-height: 3px;
  color: #FFFFFF;
}
/* main-content-starts */
.main-content{
  min-height: 100vh !important;
  position: fixed;
  width: 100%;
  top: 0;
  left: 16.5%; 
  /* margin-left: 270px;
  width: calc(100% - 270px); */
  height: 100%;
  overflow-y: auto;
}
.header{
  padding: 10px 0px 0px 10px;
  border-bottom: 0.5px solid #9E9E9E;
}
.dashboard-heading{
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #254270;
  padding-top: 10px;
}
.john-div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 2px;
}
.text-john{
  text-align: right;
  padding-top: 5px;
}
.john-desc{
  font-weight: 600;
  font-size: 12px;
  line-height:10px;
  color: #333333;
}
.john-small-desc{
  font-weight: 400;
  font-size: 9px;
  line-height: 0px;
  color: #333333;
}

/* shipments styling */
.form-content {
  display: none;
}
.form-content.active {
  display: block;
}
.filter-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 9px 20px;
}
.shipments-heading{
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #254270;
}
.input-id{
  display: inline-block;
  position: relative;
  width: 501px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.input-id input,
.input-id button{
   display: inline-block;
   vertical-align: middle;
}
#input{
  width: 379px;
  height: 48px;
  background: #F3F3F3;
  text-indent: 50px;
  border: none;
  outline: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}


.track-btn{
  background: #F86900;
  width: 120px;
  height: 48px;
  border: none;
  outline: none;
  position: absolute;
  right: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.track-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


/* date-picker-styling */
.date-picker >input{
  border: 1px solid #000000;
  border-radius: 6px;
  width: 123px;
  height: 46px;
  outline: none;
}
.date-picker{
  position: relative;
  text-align: right;
}
#datepicker{
  text-indent: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
.date-picker >span{
  position: absolute;
  right: 3%;
  top: 50%;
}
/* slot styling */
.slot-heading{
  padding: 0px 0px 0px 10px;
}
.slot-heading{
  font-weight: 500;
  font-size: 18px; 
  color: #333333;
}

/* card-section */

.card-title{
  font-weight: 400;
  font-size: 33.1493px;
  line-height: 36px;
  color: #FFFFFF;
  padding-top: 20px;
}
.card-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
}
.icon-img-none{
  float: right;
  clear: both;
}
.icon-img{
  float: right;
  clear: both;
  position:relative;
}
.icon-img::before{
  content: "";
  width: 46px; 
  height: 46px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.2;
  position: absolute;
  top: -10px;
  right: -10px;

}

.main-img{
  z-index: 10;
}
.charts-section{
  padding: 0px 20px 0px 20px;
}
.col{
  padding-bottom: 6px;
}
.first-card{
  background: #F3994A !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.first-card:hover {
  transform: scale(1.05);
}
.card-two{
  background: #A3CC34 !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-two:hover{
  transform: scale(1.05);
}
.card-three{
  background: #18BDAA !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-three:hover{
  transform: scale(1.05);
}
.card-four{
  background: #3080ED !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-four:hover{
  transform: scale(1.05);
}
.card-five{
  background: #3080ED !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-five:hover{
  transform: scale(1.05);
}
.card-six{
  background: #18BDAA !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-six:hover{
  transform: scale(1.05);
}
.card-seven{
  background: #F3684A !important;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s ease-in-out;
}
.card-seven:hover{
  transform: scale(1.05);
}


/* support ticket */
.support-div{
  background: #E8EBF3;
  border-radius: 6px;
  width: 97%;
  margin: 0px 0px 0px 20px;
}
.support-ticket-div{
  width: 297px;
  margin: 0px 0px 0px 20px;
}
.support-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding: 17px 0px 5px 36px;
}
.main-profile{
  margin-left: 30px;
  padding-bottom: 1px;
}
.ticket-img{
  float: left;
  clear: both;
  margin-right: 20px;
}
.ticket-details h2 {
  font-weight: 600;
  font-size: 11.67px;
  line-height: 19px;
  color: #333333;
}
.ticket-details p {
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  color: #333333;
}

/* delivered section */


.dileverd-section{
  background: #E8EBF3;
  border-radius: 6px;
  margin: 0px 20px 0px 10px !important;
  padding: 20px;
}
.deliver-main-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}
.statistic-text{
  padding-left: 25px;
  padding-top: 10px;
}
.statistic-text h4{
  font-weight: 400;
  font-size: 14px; 
  line-height: 14px;
  color: #254270;
}
.statistic-text p{
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #9E9E9E;

}
.delivery-statistic {
  display: flex;
  flex-direction: column;
}
.statistic-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px;
}
.statistic-box {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 10px 0px 0px 13px;
}
.statistic-item {
  display: flex;
  align-items: center;
}
.status-box {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}
.delivered {
  background: #27AE60;
  border-radius: 1.10526px;
}
.in-transit {
  background: #FFCB06;
  border-radius: 1.10526px;
}
.failed {
  background: #C94444;
  border-radius: 1.10526px;
}
.booked{
  background: #816BFF;
  border-radius: 1px;
}
.processed{
  background: #13C9F2;
  border-radius: 1px;
}
.cancel{
  background: #F84B4A;
  border-radius: 1px;
}

#pie{
  max-width: 152px;
  max-height: 152px;
  margin-right: 20px;
}
#chart {
  max-width: 152px;
  max-height: 152px;
  margin-right: 20px;
}
.sidebar-toggle-button {
  display: none;
}
/* create-bookings-styling */
.main-create-booking-heading{
  font-weight: 500;
  font-size: 18px; 
  line-height: 26px;
  color: #333333;
  padding-top: 15px;
  padding-left: 5px;
}
.main-create-bookings{
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 15px;
  padding-left: 22px;
}
.document-box{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 25px;
  padding: 14px 68px 8px 68px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 2px solid transparent;
}
.document-box:hover{
  background: #FFFFFF;
  border: 2px solid #F86900;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}


/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 34px;
  transition: background-color 0.2s;
  border: 1px solid #C4C4C4;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;  
  background: #9E9E9E;
  border-radius: 50%;
  transition: transform 0.2s;
}
input:checked + .slider {
  background-color: #ffffff;
}
input:checked + .slider:before {
  transform: translateX(23px);
  background: linear-gradient(180deg, #F86900 0%, #FF8F3D 100%);
}
.main-slide-down{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}
.one-box , .two-box , .three-box , .four-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.inner-desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}
.create-bookings-row{
  border-bottom: 0.37px solid #9E9E9E;
}
.slide-down-row{
  border-bottom: 0.37px solid #9E9E9E;
}
/* method section styling */
.methods-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding-top: 15px;
  padding-left: 5px;
}
.main-methods-collection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-top: 24px;
}
.method-box{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 25px;
  padding: 14px 40px 10px 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 2px solid transparent;
}
.method-inner-desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}
.method-box:hover{
  background: #FFFFFF;
  border: 2px solid #F86900;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}




/* booking */
.booking-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding-top: 15px;
  padding-left: 5px;
}
.booking-form-row{
  background: #F3F3F3;
  border-bottom: 1px solid #9E9E9E;
  border-top: 1px solid #9E9E9E;
}
.main-booking-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 24px;
}
.booking-box{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
.methods-desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}
.small-input-copy{
  padding: 1px 47px 33px 48px;
  height: 38px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.copy-input-value{
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #4F4F4F;
}
/* wizard */
ul {
  /* padding-left: 2rem; */
  padding-left: 0 !important;
}
.wizard {
  position: relative;
  display: flex;
  width: 100%;
}
.wizard::before{
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.wizard-list>li {
    display: inline-block;
    padding: 20px;
}
.wizard-item{
  border-bottom: 2px solid transparent;
}

.wizard-item.active::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 4%;
  width: 181px;
  height: 4px;
  background: #F86900;
  border-radius: 9px;

}

.wizard-item:not(.active)::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 4%;
  width: 181px;
  height: 4px;
  background: #F86900;
  border-radius: 9px ; 
}
/* .wizard-item.active::after{
  content: "";
  position: absolute;
  top: 60%;
  left: 4%;
  width: 181px;
  height: 4px;
  background: #F86900;
  border-radius: 9px;
} */

.form-group {
  position: relative;
  margin-bottom: 40px;
}
.form-group input:focus + label {
  position: absolute;
  top: 20%;
  left: 2%;
  transform: translateY(-100%);
  background-color: white;
  padding: 0 5px;
  font-size: 12px;
  transition: all 0.3s ease;
}
.form-group label {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(0);
  transition: all 0.3s ease;
  pointer-events: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9E9E9E;
}
.form-group input{
  width: 70% !important; 
  height: 55px;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  text-indent: 20px;
}
.form-group input.empty + label {
  top: 30%;
  font-size: 14px;
}

.form-group input:not(.empty):focus {
  outline: none;
}

.form-group input:not(.empty):focus + label {
  top: 20%;
  font-size: 12px;
}

.form-group input:not(.empty):focus + label,
.form-group input:not(.empty):valid + label {
  background-color: white;
  padding: 0 5px;
  font-size: 12px;
  transform: translateY(-120%);
}
.form-buttons {
  display: flex;
  gap: 30px;
  margin-top: 15px;
  margin-left: 1.5%;
}
.next{
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #F3F3F3;
  background: #F86900;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 10px 50px 10px 50px;
}
.return{
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #F3F3F3;
  background: #9E9E9E;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 10px 50px 10px 50px;
}
.main-left-right-input{
  box-sizing: border-box;
  flex-flow: row wrap;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 25px;
}
/* my bookings css */
.my-booking-heading{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding: 20px 0px 0px 10px; 
}
.left-inner-value label{
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #333333;
  padding-left: 60px;
}
.right-inner-input input{
  color: rgb(79, 79, 79);
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: 7px 10px;
  width: 100%;
  max-width: 150px;
  height: 35px;
  border: 1px solid #9E9E9E;
}
.booking-input-row{
  padding-right: 30px;
  border-bottom: 1px solid #9E9E9E;
}
.right-inner-input input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #4F4F4F;
  text-align: center;
}
/* button inline section */
.btn-icon {
  display: inline-block;
  width: auto; /* adjust as needed */
  height: auto; /* adjust as needed */
  margin-right: 0.5rem; /* adjust as needed */

}
.btn-text {
  display: inline-block;
}
.btn-primary{
  height: 33px;
  background: #254270 !important;
  border-radius: 6px;
  font-weight: 400 !important;
  font-size: 11px !important;
  color: #FFFFFF;
}
.btn-primary span{
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
}
.text-right-row{
  padding-right: 30px !important;
}
.text-right select{
  float: right;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
  border-radius: 6px;
  width: 100%;
  max-width: 96px;
  height: 35px;
  box-sizing: border-box!important;
  color: #4f4f4f!important;
  display: inline-block!important;
  font-size: 11.67px!important;
  font-weight: 400!important;
  line-height: inherit!important;
  padding: 7px 9px!important;
}
.text-right select:focus{
  border: 1px solid #9E9E9E;
  outline: none;
}
.text-right select option{
  font-weight: 400;
  font-size: 11.67px;
  color: #4F4F4F;
}
/* table styling */
.table-row{
  overflow-x: auto;
}
.table-row::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.table-row::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}
.table-row::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.table-responsive{
   width: 100% !important;
   border-collapse: collapse; 
}
tr th{
  font-weight: 400;
  font-size: 14px;
  color: #4F4F4F;
  background: #F3F3F3 !important;
  border: 1px solid #9E9E9E;
  padding: 20px !important;
}
tr td{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #4F4F4F;
  border: 0.5px solid #9E9E9E;
  background: #F5F5F5;
  padding: 35px 9px 20px 10px!important;
  vertical-align: middle;
}
.left-inputs .form-group{
  margin-left: 5% !important; 
} 
.inner-pagination{
  padding-right: 30px !important;
}
.main-pages{
  float: right !important;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pagination .page-link {
  background-color: #fff;
  border-radius: 5px !important;
  color: black;
  font-size: 12px !important;
  border: 0.729167px solid #828282;
  padding: 10px 18px 10px 12px;
}
.pagination .page-link:hover {
  background: #254270;
  border-radius: 5px;
  color: #ffffff;
  border: 0.729167px solid #828282;
}
.pagination .page-item.active .page-link {
  background: #254270;
  border-radius: 5px;
  border: 0.729167px solid #828282;
  color: #fff;
}
.main-pages .page-link:active,
.main-pages .page-link:focus {
  background: #254270;
  border-radius: 5px;
  border: 0.729167px solid #828282;
  color: #fff;
}
.main-pages .page-link:focus {
  box-shadow: none;
}
.show-entries{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4F4F4F;
}
.custom-input {
  border: none; /* remove border */
  appearance: none; /* remove default styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 50px; /* set width to desired size */
  padding: 0 5px; /* add padding for spacing */
}
.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button,
.custom-input::-moz-inner-spin-button,
.custom-input::-moz-outer-spin-button,
.custom-input::-ms-inner-spin-button,
.custom-input::-ms-outer-spin-button {
  height: auto;
}
.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button,
.custom-input::-moz-inner-spin-button,
.custom-input::-moz-outer-spin-button,
.custom-input::-ms-inner-spin-button,
.custom-input::-ms-outer-spin-button {
  opacity: 1;
}
.custom-input:focus {
  outline: none; /* remove focus outline */
}















@media only screen and (max-width: 767px) {
  .main-cols{
    padding-bottom: 9px !important;
  }
  .skypost-logo {
    padding: 20px 0px 0px 6px;
}
  .sidebar-toggle-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    border: none;
    color: white !important;
    background-color: #254270 ;
  }
} 
@media only screen and (max-width: 767px) {
  .sidebar {
    width: 250px !important;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    z-index:1001;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #254270 ;
  }

  .sidebar.show {
    left: 0;
  }
 
}


/* For mobile devices */
@media only screen and (max-width: 600px) {
  /* Support section */
  .dropdowns>li {
    padding: 14px 0px 14px 14px;
  }
   .support-div {
    width: 100%;
    margin: 0px;
  }
  .support-ticket-div {
    width: 100%;
    margin: 20px 0px 0px 0px !important;
  }
  .support-heading {
    padding: 17px 0px 5px 20px;
  }
  .main-profile {
    text-align: center;
  }
  .ticket-img {
    float: none;
    margin: 0px auto;
  }
  .ticket-details h2 {
    font-size: 14px;
    line-height: 20px;
  }
  .ticket-details p {
    font-size: 12px;
    line-height: 16px;
  }
  .ticket-col{
    padding: 10px 20px 10px 20px;
  }
  .deliver-main-heading{
    padding-top: 5px;
  }

  /* Delivered section */
  .dileverd-section {
    margin: 10px 10px 0px 10px !important;
    padding: 10px;
  }
  .deliver-main-heading {
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
  }
  .statistic-text {
    padding-left: 10px;
    padding-top: 5px;
  }
  .statistic-text h4 {
    font-size: 12px;
    line-height: 12px;
  }
  .statistic-text p {
    font-size: 12px;
    line-height: 14px;
  }
  .statistic-wrapper {
    padding: 10px;
  }
  .statistic-box {
    flex-basis: 100%;
    padding: 10px 0px 0px 0px;
  }
  #pie {
    max-width: 100px;
    max-height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  #chart {
    max-width: 100px;
    max-height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .card-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    padding-top: 15px;
  }
  .card-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #FFFFFF;
  }
}


@media screen and (max-width: 768px) {
  .filter-input {
    flex-direction: column;
    padding: 20px;
  }

  .input-id {
    width: 100%;
    margin: 0;
  }

  #input {
    width: 100%;
    margin-bottom: 3px;
    border-radius: 6px;
  }

  .track-btn {
    width: 100%;
    position: static;
    margin-top: 9px;
    border-radius: 6px;
  }
  .date-picker {
    margin-top: 10px;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .input-id input,
  .track-btn {
    display: block;
    width: 100%;
    text-indent: 10px;
    border-radius: 6px;
  }
}



@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
  }
  .col-md-6 {
    width: 100%;
  }
  .john-div {
    margin-top: 10px;
  }
  .dashboard-heading {
    text-align: center;
  }
  .text-john {
    text-align: center;
  }
}